html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(
    135deg,
    #8b4dc2,
    #6f3aa8
    );
}

main{
    position:relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-pr{
  display: inline-block;
  background-color: #582e85;
  border-radius: 1em;
  color: white;
  padding: 1em 2em;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.device{
  width: 50%;
}

.device img{
    width:150%;
    margin-left:-5em;
}

.slogan{
  width:50%;
}

.slogan h1{
  color:white;
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.slogan h1 span{
  color:#FFD700;
  font-weight: bold;
}