:root {
  --all: #8b4dc2;
  --primary: #582e85;
  --secondary: #321a4c;
  --complement: #FFD700;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background: linear-gradient(
    135deg,
    #8b4dc2,
    #6f3aa8
    );
 
}

main{
    position:relative;
    text-align: center;
    min-height: 100svh;
    height: auto;
    overflow: hidden;
}
    

.btn-pr{
  display: inline-block;
  background-color: #582e85;
  border-radius: 1em;
  color: white;
  padding: 1em 2em;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.device{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2;
}

.device img{
    width:80%;
    animation: move1 2s ease-in-out infinite;
}

@keyframes move1 {
  0%{ transform: translateY(0); }
  50%{ transform: translateY(-20px);}
  100%{ transform: translateY(0); }
}


.slogan{
  z-index:2;
}

.slogan h1{
  color:white;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.slogan h1 span{
  color:#FFD700;
  font-weight: bold;
}

.diagonal {
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  height:50dvh;
  background: linear-gradient(
    to bottom,
    rgba(52, 152, 219, 0) 0%,
    rgba(52, 152, 219, 1) 60%
  );
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.diagonal-fix {
  transform: translateY(0);
}

@media(min-width:768px) and (max-width:1023px){

  main{
    text-align: left;
  }

  .device img{
    width: 60%;
  }

  .slogan h1{
    font-size: 2rem;
  }

  .diagonal {
    width: 50%;
    height: 100dvh;
    left: auto;
    right: 0;
    background: linear-gradient(
      to right,
      rgba(52, 152, 219, 0) 0%,
      rgba(52, 152, 219, 1) 60%
    );
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 0;
  }

  .diagonal-fix {
    transform: translateX(0);
  }

}

@media(min-width:1024px){

  main{
    text-align: left;
  }

  .device img{
    width: 60%;
  }

  .slogan h1{
    font-size: 3.5rem;
  }

  .diagonal {
    width: 50%;
    height: 100dvh;
    left: auto;
    right: 0;
    background: linear-gradient(
      to right,
      rgba(52, 152, 219, 0) 0%,
      rgba(52, 152, 219, 1) 60%
    );
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 0;
  }

  .diagonal-fix {
    transform: translateX(0);
  }

}